* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

a {
    color: #fff;
}
html {
	overflow-x: hidden;	
}
body {
	overflow-x: hidden;
    background: #000;
    color: #fff;
}

input[type="text"],
input[type="search"],
select {
    color: #E0E0E0;
    background: #202028;
    border: 0;
    border-radius: 5px;
}

input[type="search"]:focus {
    color: #E0E0E0;
    background: #202028;
}

input[type="text"]:focus {
    color: #E0E0E0;
    background: #202028;
}

.header-wrapper {
    background: url(../img/header.png);
}

.header {
    max-width: 1300px;
    width: 100%;
    padding-bottom: 180px;
}

nav {
    margin-bottom: 120px;
}

.navbar-nav {
    width: 520px;
}

.nav-link {
    padding: 0px 0px;
}

.nav-item:hover a {
    color: #C46134;
}

.nav-item:hover {
    border-bottom: 3px solid #C46134;
    margin-bottom: -3px;
}
.nav-item-mobile {
	display: none !important;
}
.header-text-main {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.0625rem;
}

.header-text {
    max-width: 480px;
}

.header-btn {
    margin-top: 25px;
    color: #fff;
    width: 244px;
    height: 58px;
    ;
    background: #C95724;
    box-shadow: 2px 0px 15px #C95724;
    border-radius: 100px;
}

.down-item {
    position: absolute;
    width: 72px;
    height: 106px;
    background: #C95724;
    box-shadow: 0px 1px 20px #C95724;
    border-radius: 30px;
    margin-top: -53px;
}


.team {
    color: #000;
    background: #f0f0f0;
    padding: 60px 145px 55px 145px;
}

.team-item {
    margin-bottom: 130px;
}

.team-container {
    max-width: 1700px;
    padding-top: 67px;
}

.team-caption {
    margin-left: 115px;
    margin-bottom: 70px;

}

.team-roles-container {
    margin-top: 30px;
}

.team-role {
    max-height: 42px;
    font-size: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border: 2px solid #000;
    border-radius: 100px;
}

.team-role-pain {
    color: #26BFA6;
    border: 2px solid #26BFA6;
}

.team-role-admin {
    color: #36B735;
    border: 2px solid #36B735;
}

.team-role-leader {
    color: #1E1E1E;
    border: 2px solid #1E1E1E;
}

.team-role-assistant {
    color: #3E78CE;
    border: 2px solid #3E78CE;
}

.team-role-caca {
    color: #9424C9;
    border: 2px solid #9424C9;
}

.registration {
    width: 100%;
    color: #fff;
    background-size: cover;
    background-position: center;
    background-image: url(../img/footer2.png), url(../img/footer.png);
    background-repeat: no-repeat;
    padding-top: 55px;
    padding-bottom: 200px;
}

.registration-container {
    max-width: 1900px;
    padding-left: 145px;
}

.registration-caption {
    margin-bottom: 80px;
}

.registration-form-item input[type="text"] {
    width: 550px;
    height: 75px;
    padding: 25px;
    margin-bottom: 30px;
}

.registration-form-select-wrapper {
    position: relative;
    margin-bottom: 30px;
}

.registration-form-select {
    cursor: pointer;
    color: #908B8B;
    width: 550px;
    height: 75px;
    padding: 25px;
    -webkit-appearance: none;
    appearance: none;
}

.registration-form-select-wrapper:after {
    content: url(../icons/chevron-bottom.svg);
    position: absolute;
    top: 35%;
    right: 1.5rem;
    z-index: 99;
}

.registration-btn {
    width: 338px;
    height: 75px;
    color: #fff;
    background: #C95724;
    box-shadow: 0px 1px 20px #C95724;
    margin-top: 42px;
}

.footer {
    padding: 60px 120px;
}

.footer-item {
    margin-right: 70px;
}

.footer-item-img {
    margin-right: 30px;
}

.discord-caption {
    font-size: 2.5rem;
}

.vk-link:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}




@media screen and (max-width: 1730px) {
    .team {
    	padding: 60px 0px 55px 0px;
	}
}

@media screen and (max-width: 1540px) {
	.team-role {
		margin-left: 5px !important;
		padding: 10px 15px !important;
	}
}

@media screen and (max-width: 1540px) {
	.registration-form-item input, .registration-form-select {
		width: 420px !important;
	}
}

@media screen and (max-width: 1400px) {
    .header-item-container {
        padding: 0px 50px !important;
    }

    nav {
        padding: 0px 50px !important;
    }
}

@media screen and (max-width: 1205px) {
    .header-item-container {
        flex-wrap: wrap-reverse;
    }

    .header-text {
        text-align: center;
    }

    .header-text-main {
        text-align: center;
    }

    .header-item {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar-nav {
        margin: 0px 20px 0px 5px !important;
    }

    nav {
        padding: 0px 40px !important;
        margin-bottom: 50px;
        justify-content: center !important;
    }

    .navbar-collapse {
        justify-content: space-between;
    }

    form input {
        width: 170px !important;
    }
    .registration-container {
    	padding: 0px 70px;
    }
}
@media screen and (max-width: 1045px) {
	.footer-logo {
		display: none !important;
	}
	.footer-item {
		margin-right: 0;
	}
	.footer-item-container {
		justify-content: space-between;
	}
}
@media screen and (max-width: 1015px) {
	.registration-form-item {
		display: flex;
		justify-content: center;
	}
	.registration-btn {
		margin: 0px auto;
	}
	.registration-caption {
		text-align: center;
	}
	.registration {
		padding-bottom: 100px;		
	}
	.footer-item-img {
		width: 50px;
		height: 50px;
	}
}

@media screen and (max-width: 995px) {
    nav {
        padding: 0px 40px !important;
        justify-content: space-between !important;
    }
}

@media screen and (max-width: 990px) {
    .nav-item {
        margin-bottom: 25px;
    }

    .nav-item:hover a {
        color: #C46134;
    }

    .nav-item:hover {
        border-bottom: none;
        margin-bottom: 25px;
    }
    .navbar-nav {
       padding-top: 25px !important;
    }
    .search-img {
    	margin-right: 10px !important;
    }
    .footer-item-img {
    	margin-right: 10px;
    }
    .footer {
    	padding: 30px 30px;
    }
    .nav-item-mobile {
		display: flex !important;
		align-items: center;
		margin-bottom: 10px;
		margin-top: 10px;		
	}
	.nav-item-mobile img {
		width: 30px;
		height: 30px;
	}
	.discord-caption-mobile {
		font-size: 1.25rem;
	}
}

@media screen and (max-width: 724px) {
	.carousel-inner, .carousel-item img {
		width: 580px;
		height: 380px;
	}
	.header-text-main {
        font-size: 2rem;
    }
}

@media screen and (max-width: 620px) {
	.carousel-inner, .carousel-item img {
		width: 480px;
		height: 280px;
	}
    .team-item {
    	justify-content: flex-start !important;
    	padding-left: 15px;
	}
	.team-caption {
		margin-left: 15px;
	}
	.registration-caption {
		font-size: 1.5rem;
	}
	.footer-item-img {
		width: 30px;
		height: 30px;
	}
	.discord-caption {
		font-size: 1.5rem;
	}
	.vk-link {
		font-size: 0.6875rem;
	}
}

@media screen and (max-width: 540px) {
	.carousel-inner, .carousel-item img {
		width: 320px;
		height: 230px;
	}
	.header-text-main {
        font-size: 1.4375rem;
        line-height: 2rem;
    }
    .team-item {
    	font-size: 0.9rem;
    }
    .team-role {
    	font-size: 0.6rem;
    }
    .team-item-avatar-container {
    	padding: 0px;
    }
    .team-roles-container {
    	align-items: center;
    }
    .more-img {
    	width: 20px;
    	height: 20px;
    	margin-left: 10px !important;
    }
    .registration-form-item input, .registration-form-select {
		width: 340px !important;
		height: 50px !important;
	}
	.registration-btn-mobile {
		display: flex !important;
	}
	.registration-btn-desktop {
		display: none !important;
	}
	.registration-container {
		padding: 0px 15px;
	}
	.footer {
    	padding: 15px 15px;
    }
    .discord-caption {
		font-size: 1.3rem;
	}
}

@media screen and (max-width: 395px) {
	.header-item-container {
        padding: 0px 25px !important;
    }
    .team-roles-container {
    	padding-left: 5px !important;
    }
    .team {
    	padding-right: 5px;
	}
	.registration-btn-mobile {
		width: 192px;
		height: 48px;
	}
	.registration {
		padding-bottom: 50px;
	}
	.footer-item-img {
    	margin-right: 5px;
    }
}